# Dashboards
shipper-dashboard
user-dashboard

# Path Planning
path-planning

# Docker
Dockerfile
.dockerignore

# k8s
k8s

# Git
.git

# Markdown
README.md

# Environment Variables
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Builds
tmp
